modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["haskellPackages.hello", "zsh"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Serve Docs"
author = 2522186
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdocs serve --dev-addr=0.0.0.0:5000"

[[workflows.workflow]]
name = "Poetry Test"
author = 2522186
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "poetry install --no-interaction"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "poetry run pytest tests/ -v"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Clean Tests"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Documentation Server"

[[workflows.workflow]]
name = "Clean Tests"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -e . && PYTHONPATH=. python -m pytest tests/test_manager.py -v --tb=short -p no:asyncio --disable-warnings"

[[workflows.workflow]]
name = "Documentation Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install markdown && python simple_docs_server.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
